<div class="flex flex-col items-center">
  <%= image_tag "brainstorming.svg" %>
  <%= link_to "חיפוש חומרים", search_path, class: "bg-white hover:bg-white text-gray-800 font-bold py-2 px-4 rounded-full mt-4 hover:underline font-bold shadow opacity-75" %>
  <div class="flex justify-between my-4">
    <%= link_to "יצירה ועריכה של מסמכים", documents_path, class: "bg-white hover:bg-white text-gray-800 font-bold py-2 px-4 rounded-full hover:underline font-bold shadow opacity-75 ml-8" %>
    <%= link_to "מרחב עבודה לצוותים", teams_path, class: "bg-white hover:bg-white text-gray-800 font-bold py-2 px-4 rounded-full hover:underline font-bold shadow opacity-75" %>
  </div>
  <p class="font-bold mb-2">ארכישמוץ (שם זמני) הוא פרויקט לתיעוד תנועת השומר הצעיר. </p>
  <p class="w-full md:w-4/5">
    "לא לחינם נאמר על השומר הצעיר שזו תנועה ש'כתבה את עצמה לדעת' ו'חקרה את עצמה לדעת'.
       התנועה הקטנה יחסית יצרה שפע של מקורות כתובים — פרוטוקולים, עלונים, ביטאונים, חוברות וספרי הדרכה ועוד.
        חברי התנועה ובוגריה גילו תודעה היסטורית מפותחת והרבו לכתוב ספרי זיכרונות, קובצי מקורות, ביוגרפיות וכתבים שונים" (יזהר בן-נחום).
מאז הקמתה, תנועת השומר הצעיר יצרה שפע מקורות, מתוך התודעה ההיסטורית עליה כותב בן-נחום.
 מאז הקמת תנועת הבוגרים, המשכנו ביצירת השפע הזה, המשכנו לכתוב, ליצור ולתעד את החיים והעשייה שלנו, מתוך תחושה שאנחנו חלק מרצף ארוך של היסטוריה שומרית ארוכה.

לרגל עשרים שנה להקמת תנועת הבוגרים, הגיע הזמן לעשות סדר בכל הבלגן כדי שנוכל לחלוק את מה שכתבנו ויצרנו כתנועה בעשרים השנים האחרונות,
 כדי שנוכל להבין את עצמנו ואת התנועה טוב יותר, וכדי שנוכל להתמודד עם משבר ההגשמה טוב יותר ואולי אפילו להדריך אותו אחרת.
<span class="font-bold">מתוך המאגר שיווצר נוכל לקבל תשובות על שאלות שאנחנו שואלים את עצמנו כתנועה, וחשוב מזה, להבין על שאלות חדשות שלא חשבנו עליהן.
זה לא שורשי יניקה. זה תיעוד של התנועה שלנו - מהפגישות היומיומיות ועד ללבטים הכי קשים על הבחירה לחיות חיי שיתוף חלוציים בשנת 2020.</span>
  </p>
</div>
