<div class="intro">
  <h3>ארכישמוץ</h3>
  <div class="top">
    <%= image_tag "find.svg" %>
  </div>
  <div class="bottom">
    <h1>בארכיון שלנו אפשר...</h1>
    <p class="lg:px-24">לחפש ולמצוא חומרים מגניבים מפעם, שאלות שחברי התנועה שאלו את עצמם והתשובות שלהם שעיצבו את איך שהתנועה שלנו נראית כיום. אפשר לחפש גם בחומרים שהועלו וגם בפגישות של צוותים, הכל לפי הגדרת הפרטיות שנקבעה להם.</p>
  </div>
  <%= link_to "יאללה כבר", root_path, class: "text-center bg-white hover:bg-white text-gray-800 font-bold py-2 px-4 rounded-full mt-4 font-bold shadow opacity-75", id: "next" %>
</div>
