<div class="intro">
  <h3>ארכישמוץ</h3>
  <%= link_to "דילוג", root_path, id: "skip", class: "underlines" %>
  <div class="top">
    <%= image_tag "upload.svg" %>
  </div>
  <div class="bottom">
    <h1>בארכיון שלנו אפשר...</h1>
    <p class="lg:px-24">להעלות חומרים שהולכים להיות אגדיים עוד כמה שנים!<br>כתבת טקסט מעורר השראה על חיי שיתוף? מצאת טקסט במייל מפעולה שהשפיעה עלייך? יש לך תמונות מאירוע תנועתי מכונן? אנחנו רוצים הכל!</p>
  </div>
  <%= link_to "הבא", intro2_path, class: "text-center bg-white hover:bg-white text-gray-800 font-bold py-2 px-4 rounded-full mt-4 font-bold shadow opacity-75", id: "next" %>
</div>
