<h1>הפרופיל של <%= current_user.name %></h1>
<div class="my-2">
    <div class="">
        <strong>רמת הסיווג שלי:</strong> <%= he_status[current_user.status.to_sym] %>
    </div>
    <!--Container-->
    <div class="container w-full md:w-4/5  mx-auto px-2 mt-20 text-gray-900">
        <h3 class="text-white text-2xl">הדברים שלי</h3>
        <!--Card-->
        <div id='recipients' class="p-8 mt-6 lg:mt-0 rounded shadow bg-white">
            <table class="hover stripe row-border order-column" id="profile-table" data-sort="true" data-source="<%= search_path(format: :json) %>">
              <thead>
                <tr>
                  <th data-priority="1" data-data="title">כותרת</th>
                  <th data-priority="2" data-data="description">תיאור</th>
                  <th data-priority="3" data-data="content">תוכן</th>
                  <th data-priority="4" data-data="user">משתמש/צוות</th>
                  <th data-priority="5" data-data="privacy">פרטיות</th>
                  <th data-priority="6" data-data="date">שנה</th>
                  <th data-priority="7" data-data="status">סטטוס</th>
                  <th data-priority="8" data-data="tags">תגיות</th>
                  <th data-priority="9" data-data="url"></th>
                </tr>
              </thead>
            </table> 
        </div>
        <!--/Card-->
    </div>
    <!--/container-->

    <div class="my-2">
        <h3 class="text-2xl">ההישגים שלי</h3>
        <% if @user.achievement_list.empty? %>
        אין הישגים עדיין
        <% else %>
        <ul>
            <% @user.achievement_list.each do |achievement| %>
            <li><%= achievement %></li>
            <% end %>
        </ul>
        <% end %>
    </div>

    <script>
        $(document).ready(function() {
            $('#profile-table').DataTable({
                "columnDefs": [{
                    "targets": [2],
                    "visible": false,
                }],
                responsive: true,
                language: {
                    "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Hebrew.json"
                },
            "ajax":
                {"url": $('#profile-table').data('source')}
            });
        });
    </script>