<% content_for :title, "חיפוש | ארכיון השומר הצעיר" %>
<% if params[:approving] != "true" %>
<h1>חיפוש חומרים</h1>
<% else %>
<h1>ממשק אישור מסמכים</h1>
<% end %>

<%= link_to "ממשק אישור מסמכים", search_path(approving: "true") if user_signed_in? && current_user.admin? && params[:approving] != "true" %>
<!--Container-->
<div class="container w-full md:w-4/5  mx-auto px-2 mt-20 text-gray-900">
    <!--Card-->
    <div id='recipients' class="p-8 mt-6 lg:mt-0 rounded shadow bg-white">
      <table class="hover stripe row-border order-column" id="search-table" data-sort="true" data-source="<%= search_path(format: :json) %>">
        <thead>
          <tr>
            <th data-priority="1" data-data="title">כותרת</th>
            <th data-priority="2" data-data="description">תיאור</th>
            <th data-priority="3" data-data="content">תוכן</th>
            <th data-priority="4" data-data="user">משתמש/צוות</th>
            <th data-priority="6" data-data="date">שנה</th>
            <th data-priority="7" data-data="tags">תגיות</th>
            <% if user_signed_in? && current_user.admin? %>
              <th data-priority="5" data-data="privacy">פרטיות</th>
              <% if params[:approving] %>
                <th data-priority="8" data-data="status">סטטוס</th>
              <% end %>
            <% end %>
          </tr>
        </thead>
      </table> 
    </div>
    <!--/Card-->
</div>
<!--/container-->

<div class="text-sm">
    אם מסמך שהעליתן לא כאן, כנראה הוא מחכה לאישור של המנהלים. אפשר לראות את המצב בפרופיל שלכן
</div>

<script>
    $(document).ready(function() {
        $('#search-table').DataTable({
            "columnDefs": [{
                "targets": [2],
                "visible": false,
            }],
            responsive: true,
            language: {
                "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Hebrew.json"
            },
            "ajax":
                {"url": $('#search-table').data('source')}
        });
    });
</script>