<% content_for :title, "#{@document.title} | ארכיון השומר הצעיר" %>
<h1>עריכת מסמך</h1>

<%= render 'form', document: @document %>

<!-- <%= link_to 'Show', @document %> |
<%= link_to 'Back', documents_path %> -->
