<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>סיכום פגישה על <%= @meeting.subject %> של <%= @meeting.team.name %></h1>
    <%= @meeting.content %>
    <p>
      נשלח ע"י <%= @user.name %> דרך ארכיון השומר הצעיר
      https://archy.codecircle.co.il/
    </p>
  </body>
</html>
