<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @meeting.subject %> | <%= @meeting.team.name %></h1>
    <%= @meeting.content %>
    <p>
      נשלח ע"י <%= @user.name %> דרך ארכיון השומר הצעיר <br>
      https://archy.codecircle.co.il/
    </p>
  </body>
</html>
