<!DOCTYPE html>
<html dir="rtl">
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>רישום חדש - <%= @user.name %></h1>
    <p>
      צריך להיכנס לקישור כדי לאשר משתמשים חדשים
      https://archivy.herokuapp.com/user_index
    </p>
  </body>
</html>
