<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>רישום חדש - <%= @user.name %></h1>
    <p>
      צריך להיכנס לקישור כדי לאשר משתמשים חדשים <br>
      https://archy.codecircle.co.il/user_index
    </p>
  </body>
</html>
