@tailwind base;
@tailwind components;

// Custom SCSS
@import "components/buttons";
@import "components/forms";

@tailwind utilities;

.trix-content ul {
  list-style-type: disc;
  padding-right: 2.5rem;
}

.trix-content ol {
  list-style-type: decimal;
  padding-right: 2.5rem;
}
