@import "select2";
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "./actiontext.scss";

$desktop-width: 1024px;

* {
  font-family: 'Rubik', sans-serif;
  font-size: 1.1rem;
}
html{
  scroll-behavior: smooth;
}
body{
  background: #DAEAFF
}
@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
.text-blue-1000{
  color: #062043;
}
nav{
  width: 100vw
}
label{
  display: block;
}
.field {
  margin-bottom: 10px;
  margin-top: 10px;
  .trix-content {
    background-color: white;
    color: black;
  }
  textarea{
    resize: none;
    color: black;
    line-height: normal;
    height: 3rem;
    width: 100%;
    display: table;
  }
}

table {
  width:100%;
  padding-top: 1em;
  padding-bottom: 1em;
}

#table_length {
  float: left;
}
#table_paginate {
  a {
    padding: 5px;
    margin-left: 5px;
    cursor: pointer;
  }
  a:hover {
    color: white !important;
  }
}

h1 {
  text-align: center;
  font-size: 1.5rem !important;
}

#team_user_ids {
  height: 30vh;
  width: 15vw;
}

div.hero {
  height: 80vh;
  display: flex;
  justify-content: space-around;
  @include desktop {
    height: 90vh;
  }
  > div{
    height: 100%;
  }
  img{
    @include desktop {
      width: 33vw;
    }
  }
}
.columns-3{
  @include desktop {
    columns: 3;
  }
}
.pre-line{
  white-space: pre-line;
}
.icon-big{
  font-size: 60px;
}
.hamburger {
  fill: white;
}
#info{
  scroll-margin-top: 100px;
  white-space: pre-line;
  margin: 0 0 100px 0;
  h2{
    margin: 2rem 0;
    font-size: 1.5rem
  }

}
.intro{
  position: relative;
  height: 97vh;
  margin-top: -5rem;
  #skip{
    position: absolute;
    top: -0.8rem;
    left: 0;
  }
  h3{
    position: absolute;
    top: -1rem;
    right: 0;
    font-size: 1.5rem;
    font-weight: bold;
  }
  #next{
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 75vw;
  }
  .top{
    height: 45vh;
    margin-top: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      height: 35vh;
    }
  }
  p{
    text-align: center;
  }
}
footer{
  width: 100%;
  margin-top: 2rem;
  text-align: center;
  img{
    height: 1rem;
    margin: 0 1ch;
  }
}
/*Form fields*/
.dataTables_wrapper select,
.dataTables_wrapper .dataTables_filter input {
  color: #4a5568; 			/*text-gray-700*/
  padding-left: 1rem; 		/*pl-4*/
  padding-right: 1rem; 		/*pl-4*/
  padding-top: .5rem; 		/*pl-2*/
  padding-bottom: .5rem; 		/*pl-2*/
  line-height: 1.25; 			/*leading-tight*/
  border-width: 2px; 			/*border-2*/
  border-radius: .25rem;
  border-color: #edf2f7; 		/*border-gray-200*/
  background-color: #edf2f7; 	/*bg-gray-200*/
}

/*Row Hover*/
table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
  background-color: #ebf4ff;	/*bg-indigo-100*/
}

/*Pagination Buttons*/
.dataTables_wrapper .dataTables_paginate .paginate_button		{
  font-weight: 700;				/*font-bold*/
  border-radius: .25rem;			/*rounded*/
  border: 1px solid transparent;	/*border border-transparent*/
}

/*Pagination Buttons - Current selected */
.dataTables_wrapper .dataTables_paginate .paginate_button.current	{
  color: #fff !important;				/*text-white*/
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06); 	/*shadow*/
  font-weight: 700;					/*font-bold*/
  border-radius: .25rem;				/*rounded*/
  background: #667eea !important;		/*bg-indigo-500*/
  border: 1px solid transparent;		/*border border-transparent*/
}

/*Pagination Buttons - Hover */
.dataTables_wrapper .dataTables_paginate .paginate_button:hover		{
  color: #fff !important;				/*text-white*/
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);	 /*shadow*/
  font-weight: 700;					/*font-bold*/
  border-radius: .25rem;				/*rounded*/
  background: #667eea !important;		/*bg-indigo-500*/
  border: 1px solid transparent;		/*border border-transparent*/
}

/*Add padding to bottom border */
table.dataTable.no-footer {
  border-bottom: 1px solid #e2e8f0;	/*border-b-1 border-gray-300*/
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

/*Change colour of responsive icon*/
table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before {
  background-color: #667eea !important; /*bg-indigo-500*/
}

trix-editor#document_content,
trix-editor#meeting_content{
  min-height: 50vh;

}
.saved{
  opacity: 0;
  transition: opacity 200ms;
}
.saved.show{
  opacity: 1;

}
trix-editor.focused{
  border-top: 1px solid rgba(0, 0, 0, 0.2) !important;
  border-radius: 0 0 10px 10px;
}
form.doc-meet{
  width: 100%;
  display: grid;
  > div{
    width: 75vw;
    justify-self: center;
  }
}
.rising-label{
  position: relative;

  input:focus ~ label,
  input:not(:focus):valid ~ label,
  {
    top: 5px;
    // bottom: 10px;
    left: 20px;
    font-size: 11px;
    opacity: 1;
    color: #062043;
  }
  label{
    position: absolute;
    pointer-events: none;
    right: 20px;
    top: 10px;
    transition: 0.2s ease all;
    color: #adbed4;
  }
}
.first-details{
  display: grid;
  grid-template-columns:  repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  input{
    height: 50px;
    padding: 16px;
    width: 100%;
  }

}
.select2-container--default .select2-selection--multiple{
  border: none;
  height: 50px;
  padding:  0 16px;
}
.select2-container .select2-search--inline .select2-search__field {
  margin: 0;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #adbed4;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #adbed4;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #adbed4;
}

.actions{
  display: flex;
  flex-wrap: wrap;
  button, input[type=submit]{
    padding: 10px;
    background: #3182ce;
    display: flex;
    color: white;
    align-items: center;
    margin-left: 1rem;
    border-radius: 100px;
  }
  button:hover, input[type=submit]:hover,
  button:focus, input[type=submit]:focus{
    background: #065daf;
  }
}

.file-upload-input
{
    display: none;
}

.form-files{
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  background: white;
  transform: translate(-50%,-70%);
  box-shadow: 0 0 0 1000px rgba(0,0,0,0.8);
  padding: 100px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms, transform 200ms;
  #upload-files{
    padding: 10px;
    background: white;
    display: flex;
    color: #3182ce;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    border-radius: 100px;
    font-weight: bold;
    border: 2px solid #3182ce;
  }
  #upload-files:hover,
  #upload-files:focus{
    background: #3182ce;
    color: white;
  }
  #ok{
    float: left;
  }
  p{
    padding-bottom: 50px;
  }
}
.form-files.show{
  opacity: 1;
  pointer-events: all;
  transform: translate(-50%,-50%);
}
.open-upload-files.uploaded{
  background: green
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:#3182ce;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: attr(data-icon);
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  color: #3182ce;
  text-align: center;
  -webkit-transition: .4s;
  transition: .4s;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
  display: inline-block;
  vertical-align: middle;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;

  text-rendering: optimizeLegibility;

  -moz-osx-font-smoothing: grayscale;

  font-feature-settings: 'liga';
}

input:checked + .slider {
  background-color: #3182ce;
}

input:focus + .slider {
  box-shadow: 0 0 1px #3182ce;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.form-privacy{
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 5px;
  align-items: center;
}
