<footer class="bg-blue-600 text-white flex justify-center items-center">
  <span>פותח על ידי</span>
  <%= link_to "https://www.codecircle.co.il", target:"_blank" do  %>
    <%= image_tag "logo-white.svg"%>
  <% end %>
</footer>
